/*=============================
    18. Responsive Stylesheet
  =============================*/

/*** For Small Desktop ***/
@media only screen and (max-width: 1199px) {
  .about_us_area .col-xs-12.col-sm-6.col-sm-offset-1 {
    margin-left: 0;
    width: calc(50% + 8.33333%);
  }
  .my_experience_boxes .my_experience {
    min-width: 300px;
  }
}

/*** For 1024px or less resolution display devices ***/
@media only screen and (max-width: 1025px) {
  .about_me_feature_area {
    .about_me_text {
      h3 {
        font-size: 26px;
      }
      h1 {
        font-size: 46px;
      }
      p {
        font-size: 26px;
      }
      .btn-border {
        font-size: 20px;
      }
    }
  }
}

/*** For 980px or less resolution display devices ***/
@media only screen and (max-width: 991px) {
  .col-sm-offset-2 {
    margin-left: 0;
  }

  .site-header .navbar ul.navbar-nav li a {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .about_us_area .about_personal_info ul {
    width: 100%;
  }
  .about_us_area .col-xs-12.col-sm-6.col-sm-offset-1,
  .about_us_area .col-xs-12.col-sm-5 {
    width: 50%;
  }

  .contact_info_box .contact_info {
    min-width: 30%;
    padding: 8px;
    width: 30%;
  }

  .about_me_feature_area .about_me_text h1 {
    font-size: 36px;
  }
}

/*** For 800px or less resolution display devices ***/
@media only screen and (max-width: 800px) {
  .about_me_feature_area {
    .about_me_text {
      h3 {
        font-size: 26px;
      }
      h1 {
        font-size: 36px;
      }
      p {
        font-size: 16px;
      }
      .btn-border {
        font-size: 16px;
      }
    }
  }

  .project_filter li {
    margin: 0 4px;
    padding: 10px 2px;
  }
  .project_items .project_tile .project_overlay::before {
    left: 1em;
    right: 1em;
  }
  .project_items .project_tile .project_overlay::after {
    bottom: 1em;
    top: 1em;
  }
  .project_items .project_tile .project_overlay {
    padding: 22px;
  }
  .project_items .project_tile .project_overlay .project_name {
    bottom: 20px;
    left: 24px;
  }
  .contact_info_box {
    word-wrap: break-word;
  }

  .scrollup {
    bottom: 10px;
    right: 10px;
  }
}

/*** For 767px or less resolution display devices ***/
@media only screen and (max-width: 767px) {
  .site-header .navbar .navbar-header a.navbar-brand {
    padding-left: 15px;
  }
  .navbar-toggle .menu_text {
    display: none;
  }
  .navbar-toggle {
    background-color: #d0d0d0;
  }
  .site-header.navbar-fixed-top.affix-top {
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .navbar-collapse .nav.navbar-nav {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .site-header .navbar-header {
    padding-bottom: 16px;
  }
  .site-header.affix .navbar-header {
    padding-bottom: 2px;
  }
  .site-header .navbar ul.navbar-nav li a::after {
    display: none;
  }

  .site-header .navbar ul.navbar-nav li.active a,
  .site-header .navbar ul.navbar-nav li:hover a {
    background-color: $gray-light;
    color: $gray-dark;
    border-radius: 4px;
    transition: all 0.5s ease-in-out 0s;
  }

  header.site-header.navbar-fixed-top.affix {
    padding-bottom: 10px;
  }
  .navbar-collapse {
    background-color: $gray-darker;
  }
  .about_me_feature_area .about_me_text h1 {
    font-size: 28px;
  }
  .about_me_feature_area .about_me_text h3 {
    font-size: 18px;
  }
  .about_me_feature_area .about_me_text p {
    font-size: 14px;
  }
  section {
    padding: 60px 0;
  }

  .skill_area .skill_bar_inner_box .skill_bars:nth-last-child(-n + 3) .bar {
    margin-bottom: 10px;
  }
}

/*** For 640px or less resolution display devices ***/
@media only screen and (max-width: 641px) {
  .about_us_area .about_content_btn_area .btn {
    margin-right: 4px;
  }
}

/*** For 569px or less resolution display devices ***/
@media only screen and (max-width: 569px) {
  .about_us_area .col-xs-12.col-sm-6.col-sm-offset-1,
  .about_us_area .col-xs-12.col-sm-5 {
    width: 100%;
  }
  .about_us_area .about_personal_info {
    padding-top: 40px;
  }
  .skill_area .skill_bar_inner_box .skill_bars {
    width: 48%;
  }
  .project_items .project_tile {
    width: calc(50% - 20px);
  }
  .contact_info_box .contact_info {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 100%;
  }
  .about_me_feature_area .about_me_text h1 {
    font-size: 34px;
  }
  .about_me_feature_area .about_me_text h3 {
    font-size: 20px;
  }
  .about_me_feature_area .about_me_text p {
    font-size: 16px;
  }
  .contact_form_box .name_email input {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .contact_form_box .name_email {
    margin-bottom: 0;
  }
}

/*** For 480px or less resolution display devices ***/
@media only screen and (max-width: 480px) {
  .about_me_feature_area .about_me_text h1 {
    font-size: 30px;
  }
  .about_me_feature_area .about_me_text h3 {
    font-size: 20px;
  }
  .about_me_feature_area .about_me_text p {
    font-size: 14px;
  }
}

/*** For 418px or less resolution display devices ***/
@media only screen and (max-width: 418px) {
  .skill_area .skill_bar_inner_box .skill_bars {
    width: 100%;
  }
  .project_items .project_tile {
    width: calc(100% - 20px);
  }
  .start_project_area h2 {
    font-size: 24px;
  }
}

/*** For 400px or less resolution display devices ***/
@media only screen and (max-width: 400px) {
  .about_me_feature_area .about_me_text h1 {
    font-size: 26px;
  }
  .about_me_feature_area .about_me_text h3 {
    font-size: 16px;
  }
  .about_me_feature_area .about_me_text p {
    font-size: 14px;
  }
  .skill_area .skill_bar_inner_box .skill_bars {
    width: 100%;
  }
  .project_items .project_tile {
    width: calc(100% - 20px);
  }
  .start_project_area h2 {
    font-size: 24px;
  }
}
