.body-font, body, h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif; }

/* Transition style */
.transition-all, .btn-border:hover, .btn-darkgray:hover, header.site-header.navbar-fixed-top.affix-top, header.site-header.navbar-fixed-top.affix, .site-header .navbar ul.navbar-nav li:hover a:after, .project_items .project_tile .project_overlay .project_name, .contact_info_box .contact_info, .contact_info_box .contact_info:hover, .contact_info_box .contact_info .footer_social_box li:hover, .footer_social_box li, .footer_social_box li:hover {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s; }

/* White */
/* White Color */
.white-color, body, h1,
h2,
h3,
h4,
h5,
h6, .site-header .navbar ul.navbar-nav li a, .about_me_feature_area .about_me_text, .about_us_area .about_personal_info ul li, .skill_area .skill_bar_inner_box .skill_bars .bar .bar-inner:after, .project_items .project_tile .project_overlay {
  color: #fff; }

/* White Backgorund Color */
.white-bg, body, .btn-border:hover, .site-header .navbar ul.navbar-nav li.active a:after, .site-header .navbar ul.navbar-nav li:hover a:after, .about_us_area .about_content_btn_area .btn-border:hover, .skill_area .skill_bar_inner_box .skill_bars .bar .bar-inner:before, .scrollup, #loader-wrapper .line, #loader-wrapper .stop_loading {
  background-color: #fff; }

/* White border Color */
.white-bor-color, .btn-border, .btn-darkgray, .site-header .navbar-toggle, .project_items .project_tile .project_overlay:after,
.project_items .project_tile .project_overlay:before, .scrollup {
  border-color: #fff; }

/* Dark White Color */
.white-dark-color {
  color: whitesmoke; }

/* Dark White backgorund Color  */
.white-dark-bg {
  background-color: whitesmoke; }

/* Gray */
/* Gray Color */
.dark-gray-color, ::-webkit-selection,
::-moz-selection,
::selection, img::-moz-selection img::-webkit-selection, img::selection, img::webite-selection {
  color: #202020; }

/* Gray Backgorund Color */
.dark-gray-bg, .btn-darkgray, .site-header .navbar-toggle .icon-bar, .about_me_feature_area, #loader-wrapper {
  background-color: #202020; }

/* Gray Border Color */
.dark-gray-bor, .site-header .navbar-toggle, .contact_info_box .contact_info:hover .footer_social_box li {
  border-color: #202020; }

/* Light Gray Color */
.light-gray-color, body, .h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small, .section_title p, .btn-darkgray:hover, .site-header .navbar ul.navbar-nav li a, .site-header .navbar ul.navbar-nav li.active a, .about_me_feature_area .about_me_text p, .project_filter li, .contact_info_box .contact_info h5, .footer_area .copyright_text, .footer_social_box li a {
  color: #d0d0d0; }

/* Light Gray Background Color */
.light-gray-bg, .footer_social_box li:hover {
  background-color: #d0d0d0; }

/* Light Gray Border Color */
.light-gray-bor, .project_filter li:hover, .project_filter li.active, .footer_social_box li {
  border-color: #d0d0d0; }

/* Light Gray placeholder Color */
.light-gray-place-color {
  color: #d0d0d0; }

/* Lighter Gray Color */
.lighter-gray-color {
  color: #cccccc; }

/* Light Gray Background Color */
.lighter-gray-bg, .contact_info_box .contact_info:hover {
  background-color: #cccccc; }

/* Light Gray Border Color */
.lighter-gray-bor, .skill_area .skill_bar_inner_box .skill_bars .bar .bar-inner:before, .contact_info_box .contact_info {
  border-color: #cccccc; }

/* Darker Gray Color */
.darker-gray-color {
  color: #2b2b2b; }

/* Darker Gray Background Color */
.darker-gray-bg, header.site-header.navbar-fixed-top.affix, .contact_info_box .contact_info {
  background-color: #2b2b2b; }

/* Darker Gray Border Color */
.darker-gray-bor {
  border-color: #2b2b2b; }

.lighten-gray-bg, .skill_area .skill_bar_inner_box .skill_bars .bar .bar-inner, .skill_area .skill_bar_inner_box .skill_bars .bar .bar-inner:after {
  background-color: #303030; }

/* Gray Border Color */
.lighten-gray-bor, .skill_area .skill_bar_inner_box .skill_bars .bar {
  border-color: #303030; }

::-webkit-selection,
::-moz-selection,
::selection {
  background-color: #fff; }

img::-moz-selection img::-webkit-selection, img::selection, img::webite-selection {
  background: transparent; }

body {
  font-weight: 400;
  font-size: 14px;
  -webkit-tap-highlight-color: #303030;
  -moz-tap-highlight-color: #303030;
  -ms-tap-highlight-color: #303030;
  -o-tap-highlight-color: #303030;
  tap-highlight-color: #303030;
  background-color: #2b2b2b; }

a:link,
a:visited {
  color: inherit; }
  a:link:hover,
  a:visited:hover {
    color: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; }

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  color: inherit; }

img {
  max-width: 100%;
  height: auto; }

section {
  display: block;
  overflow: hidden;
  width: 100%;
  padding: 100px 0; }

.padding_top_100 {
  padding-top: 100px; }

.margin_top_0 {
  margin-top: 0; }

.section_title p {
  margin: 0;
  letter-spacing: 2px; }

.section_title h2 {
  margin-top: 10px;
  margin-bottom: 12px; }

.section_title img {
  display: block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin: 0 auto; }

.btn-border {
  border-width: 1px;
  font-size: 14px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 0; }
  .btn-border:hover {
    background-image: none; }

.btn-darkgray {
  border-width: 1px;
  color: #202020;
  font-size: 14px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 0; }

header.site-header.navbar-fixed-top.affix {
  padding-top: 10px; }
  header.site-header.navbar-fixed-top.affix-top {
    padding-top: 60px;
    padding-bottom: 20px; }

.site-header {
  width: 100%;
  display: block; }
  .site-header .title {
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    margin: 6px auto 0; }
  .site-header .navbar {
    margin-bottom: 0;
    border-radius: 0; }
    .site-header .navbar .navbar-header a.navbar-brand {
      padding: 0; }
    .site-header .navbar ul.navbar-nav li a {
      font-size: 16px;
      padding-left: 20px;
      padding-right: 20px; }
      .site-header .navbar ul.navbar-nav li a:after {
        content: "";
        display: block;
        overflow: hidden;
        height: 2px;
        width: 18px;
        background-color: transparent;
        margin: 10px auto 0; }
      .site-header .navbar ul.navbar-nav li a:hover, .site-header .navbar ul.navbar-nav li a:focus {
        background-color: transparent; }
    .site-header .navbar ul.navbar-nav li:hover a:after {
      width: 100%; }

.about_me_feature_area {
  max-height: 100vh;
  padding: 0;
  position: relative;
  padding-top: 266px; }
  .about_me_feature_area .about_me_text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%; }
    .about_me_feature_area .about_me_text h3 {
      font-size: 22px;
      margin-bottom: 10px;
      color: #d1d1d1; }
    .about_me_feature_area .about_me_text h1 {
      font-size: 44px;
      font-weight: 600;
      margin-top: 0px;
      margin-bottom: 20px; }
    .about_me_feature_area .about_me_text p {
      font-size: 16px;
      font-weight: 200;
      line-height: 1.8;
      margin-bottom: 30px; }
    .about_me_feature_area .about_me_text .btn-border:hover {
      color: #202020; }

.about_us_area .about_content_inner h5 {
  margin-bottom: 12px; }

.about_us_area .about_content_inner h2 {
  margin-top: 0;
  margin-bottom: 30px; }

.about_us_area .about_content_inner p {
  font-weight: 200;
  margin-bottom: 30px; }

.about_us_area .about_content_btn_area {
  width: 100%;
  display: block;
  overflow: hidden; }
  .about_us_area .about_content_btn_area .btn {
    margin-right: 20px; }
    .about_us_area .about_content_btn_area .btn:last-child {
      margin-right: 0; }
  .about_us_area .about_content_btn_area .btn-border:hover {
    color: #202020; }

.about_us_area .about_personal_info {
  padding-top: 90px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap; }
  .about_us_area .about_personal_info h4 {
    margin-bottom: 10px;
    width: 100%; }
  .about_us_area .about_personal_info ul {
    margin: 0;
    padding: 0;
    width: 50%;
    flex: 1 1 auto; }
    .about_us_area .about_personal_info ul li {
      list-style: none;
      line-height: 2.2;
      font-weight: 200; }
      .about_us_area .about_personal_info ul li span {
        font-weight: 400; }

.skill_area .skill_bar_inner_box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start; }
  .skill_area .skill_bar_inner_box .skill_bars {
    width: 30%;
    margin: 20px 0 0; }
    .skill_area .skill_bar_inner_box .skill_bars .bar {
      width: 100%;
      height: 14px;
      margin-bottom: 40px;
      border-width: 1px;
      border-style: solid; }
      .skill_area .skill_bar_inner_box .skill_bars .bar .bar-inner {
        width: 0%;
        height: 100%;
        position: relative;
        -webkit-transition: width 3000ms linear;
        transition: width 3000ms linear;
        z-index: 111;
        top: -1px;
        min-height: 14px; }
        .skill_area .skill_bar_inner_box .skill_bars .bar .bar-inner:before {
          border-width: 1px;
          border-style: solid;
          position: absolute;
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 50%;
          left: auto;
          right: -5px;
          z-index: 1;
          top: -18px; }
        .skill_area .skill_bar_inner_box .skill_bars .bar .bar-inner:after {
          position: absolute;
          right: -18px;
          content: attr(data-percent);
          font-size: 10.4px;
          font-weight: 200;
          top: -46px;
          border-radius: 10px;
          width: 34px;
          height: 34px;
          line-height: 3.5;
          text-align: center;
          border-radius: 100%; }

.project_filter {
  margin: 40px auto 30px;
  padding: 0;
  text-align: center; }
  .project_filter li {
    border-width: 2px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: transparent;
    display: inline-block;
    cursor: pointer;
    margin: 0 10px;
    padding: 10px; }

.project_items {
  position: relative; }
  .project_items .project_tile {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 10px;
    padding: 0;
    width: calc(33.3334% - 20px); }
    .project_items .project_tile img {
      max-width: 100%;
      width: 100%;
      height: auto; }
    .project_items .project_tile .project_overlay {
      background: rgba(0, 0, 0, 0.7);
      bottom: 0;
      font-size: 1em;
      left: 0;
      opacity: 0;
      overflow: hidden;
      padding: 3.75em 3em;
      position: absolute;
      text-align: center;
      text-decoration: none;
      top: 0;
      right: 0;
      -webkit-transition: 0.6s;
      transition: 0.6s;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      transform: scale(2); }
      .project_items .project_tile .project_overlay .project_name {
        position: absolute;
        left: 40px;
        bottom: 40px;
        width: calc(100% - 70px);
        right: 0;
        text-align: left;
        opacity: 0; }
    .project_items .project_tile .project_overlay:hover,
    .project_items .project_tile .project_overlay:hover .project_name {
      opacity: 1;
      transform: scale(1); }
    .project_items .project_tile .project_overlay:after,
    .project_items .project_tile .project_overlay:before {
      border-width: 1px;
      border-style: solid;
      bottom: 1em;
      content: "";
      left: 1em;
      opacity: 0;
      position: absolute;
      right: 1em;
      top: 1em;
      -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5);
      -webkit-transition: 0.6s 0.2s;
      transition: 0.6s 0.2s; }
    .project_items .project_tile .project_overlay:before {
      border-bottom: none;
      border-top: none;
      left: 2em;
      right: 2em; }
    .project_items .project_tile .project_overlay:after {
      border-left: none;
      border-right: none;
      bottom: 2em;
      top: 2em; }
    .project_items .project_tile .project_overlay:hover:after,
    .project_items .project_tile .project_overlay:hover:before {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 1; }

.start_project_area h2 {
  margin: 0px; }

.start_project_area .btn {
  padding: 10px 40px; }

.contact_info_box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: normal;
  width: 100%;
  margin: 120px auto 80px;
  overflow: hidden; }
  .contact_info_box .contact_info {
    border-width: 1px;
    border-style: solid;
    padding: 30px;
    text-align: center;
    max-width: 340px;
    min-width: 260px;
    flex: 1 1 auto; }
    .contact_info_box .contact_info h5 {
      font-size: 16px;
      margin-bottom: 24px; }
    .contact_info_box .contact_info p,
    .contact_info_box .contact_info a {
      color: inherit;
      font-weight: 300; }
    .contact_info_box .contact_info:hover p,
    .contact_info_box .contact_info:hover a,
    .contact_info_box .contact_info:hover h5 {
      color: #202020; }
    .contact_info_box .contact_info .footer_social_box li:hover {
      background-color: #202020; }
      .contact_info_box .contact_info .footer_social_box li:hover a {
        color: white; }

.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */ }
  .mfp-zoom-in .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8); }
  .mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out; }
  .mfp-zoom-in.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: scale(1); }
  .mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8; }
  .mfp-zoom-in.mfp-removing .mfp-with-anim {
    transform: scale(0.8);
    opacity: 0; }
  .mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0; }

.footer_area {
  padding: 26px 0;
  display: block;
  width: 100%;
  overflow: hidden; }
  .footer_area .copyright_text {
    font-weight: 300;
    font-size: 13px;
    line-height: 3.8;
    text-align: center;
    display: block;
    overflow: hidden;
    width: 100%; }

.footer_social_box {
  margin: 0;
  padding: 0;
  line-height: 0; }
  .footer_social_box li {
    display: inline-block;
    list-style: none;
    overflow: hidden;
    min-height: 26px;
    max-height: 26px;
    min-width: 26px;
    max-width: 26px;
    line-height: 26px;
    margin: 10px;
    text-align: center;
    font-weight: 300;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    background-color: transparent; }
    .footer_social_box li:hover a {
      color: black; }
    .footer_social_box li a {
      display: block;
      overflow: hidden;
      width: 100%;
      height: 100%;
      font-size: 12px;
      font-weight: 300;
      line-height: 26px; }

.scrollup {
  display: none;
  border: 1px solid;
  border-radius: 4px;
  bottom: 30px;
  color: #202020;
  font-size: 26px;
  height: 40px;
  min-height: 40px;
  min-width: 40px;
  position: fixed;
  right: 60px;
  text-align: center;
  width: 40px;
  cursor: pointer;
  z-index: 1111; }

/*===================
    16. Page Loader
  ===================*/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000; }
  #loader-wrapper .cont {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    /* half of #content height*/
    left: 50%;
    margin-left: -50px;
    width: 105px;
    height: 105px; }
  #loader-wrapper .square {
    width: 100px;
    height: 5px;
    -webkit-animation: desno 1s infinite;
    animation: desno 1s infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  #loader-wrapper .square2 {
    width: 5px;
    height: 100px;
    opacity: 0;
    -webkit-animation: desno2 1s infinite;
    animation: desno2 1s infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  #loader-wrapper .square3 {
    width: 100px;
    height: 5px;
    margin-top: 100px;
    opacity: 0;
    -webkit-animation: desno3 1s infinite;
    animation: desno3 1s infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  #loader-wrapper .square4 {
    width: 5px;
    height: 100px;
    margin-left: 100px;
    margin-top: 0px;
    opacity: 0;
    -webkit-animation: desno3 1s infinite;
    animation: desno3 1s infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  #loader-wrapper .line {
    border-radius: 2px;
    position: absolute; }
  #loader-wrapper .stop_loading {
    position: absolute;
    right: 40px;
    top: 40px;
    color: #202020;
    font-size: 30px;
    padding: 10px 0;
    line-height: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer; }

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out; }

.no-js #loader-wrapper {
  display: none; }

@-webkit-keyframes desno {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  80% {
    -webkit-transform: rotate(95deg);
    -ms-transform: rotate(95deg);
    transform: rotate(95deg);
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left; }
  99.99% {
    opacity: 1; }
  100% {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    opacity: 0; } }

@keyframes desno {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  80% {
    -webkit-transform: rotate(95deg);
    -ms-transform: rotate(95deg);
    transform: rotate(95deg);
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left; }
  99.99% {
    opacity: 1; }
  100% {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    opacity: 0; } }

@-webkit-keyframes desno2 {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1; }
  80% {
    -webkit-transform: rotate(95deg);
    -ms-transform: rotate(95deg);
    transform: rotate(95deg);
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left; }
  99.99% {
    opacity: 1; }
  100% {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    opacity: 0; } }

@keyframes desno2 {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1; }
  80% {
    -webkit-transform: rotate(95deg);
    -ms-transform: rotate(95deg);
    transform: rotate(95deg);
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left; }
  99.99% {
    opacity: 1; }
  100% {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    opacity: 0; } }

@-webkit-keyframes desno3 {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1; }
  80% {
    -webkit-transform: rotate(95deg);
    -ms-transform: rotate(95deg);
    transform: rotate(95deg);
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right; }
  99.99% {
    opacity: 1; }
  100% {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    opacity: 0; } }

@keyframes desno3 {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1; }
  80% {
    -webkit-transform: rotate(95deg);
    -ms-transform: rotate(95deg);
    transform: rotate(95deg);
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right; }
  99.99% {
    opacity: 1; }
  100% {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    opacity: 0; } }

@-webkit-keyframes desno4 {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  80% {
    -webkit-transform: rotate(95deg);
    -ms-transform: rotate(95deg);
    transform: rotate(95deg);
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right; }
  99.99% {
    opacity: 1; }
  100% {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    opacity: 0;
    -webkit-animation: desno 0.5s;
    animation: desno 0.5s; } }

@keyframes desno4 {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  80% {
    -webkit-transform: rotate(95deg);
    -ms-transform: rotate(95deg);
    transform: rotate(95deg);
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right; }
  99.99% {
    opacity: 1; }
  100% {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    opacity: 0;
    -webkit-animation: desno 0.5s;
    animation: desno 0.5s; } }

/*=============================
    18. Responsive Stylesheet
  =============================*/
/*** For Small Desktop ***/
@media only screen and (max-width: 1199px) {
  .about_us_area .col-xs-12.col-sm-6.col-sm-offset-1 {
    margin-left: 0;
    width: calc(50% + 8.33333%); }
  .my_experience_boxes .my_experience {
    min-width: 300px; } }

/*** For 1024px or less resolution display devices ***/
@media only screen and (max-width: 1025px) {
  .about_me_feature_area .about_me_text h3 {
    font-size: 16px; }
  .about_me_feature_area .about_me_text h1 {
    font-size: 36px; }
  .about_me_feature_area .about_me_text p {
    font-size: 16px; }
  .about_me_feature_area .about_me_text .btn-border {
    font-size: 16px; } }

/*** For 980px or less resolution display devices ***/
@media only screen and (max-width: 991px) {
  .col-sm-offset-2 {
    margin-left: 0; }
  .site-header .navbar ul.navbar-nav li a {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px; }
  .about_us_area .about_personal_info ul {
    width: 100%; }
  .about_us_area .col-xs-12.col-sm-6.col-sm-offset-1,
  .about_us_area .col-xs-12.col-sm-5 {
    width: 50%; }
  .contact_info_box .contact_info {
    min-width: 30%;
    padding: 8px;
    width: 30%; }
  .about_me_feature_area .about_me_text h1 {
    font-size: 36px; } }

/*** For 800px or less resolution display devices ***/
@media only screen and (max-width: 800px) {
  .about_me_feature_area .about_me_text h3 {
    font-size: 15px; }
  .about_me_feature_area .about_me_text h1 {
    font-size: 30px; }
  .about_me_feature_area .about_me_text p {
    font-size: 12px; }
  .about_me_feature_area .about_me_text .btn-border {
    font-size: 12px; }
  .project_filter li {
    margin: 0 4px;
    padding: 10px 2px; }
  .project_items .project_tile .project_overlay::before {
    left: 1em;
    right: 1em; }
  .project_items .project_tile .project_overlay::after {
    bottom: 1em;
    top: 1em; }
  .project_items .project_tile .project_overlay {
    padding: 22px; }
  .project_items .project_tile .project_overlay .project_name {
    bottom: 20px;
    left: 24px; }
  .contact_info_box {
    word-wrap: break-word; } }

/*** For 767px or less resolution display devices ***/
@media only screen and (max-width: 767px) {
  .site-header .navbar .navbar-header a.navbar-brand {
    padding-left: 15px; }
  .navbar-toggle .menu_text {
    display: none; }
  .navbar-toggle {
    background-color: #d0d0d0; }
  .site-header.navbar-fixed-top.affix-top {
    padding-bottom: 40px;
    padding-top: 40px; }
  .navbar-collapse .nav.navbar-nav {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%; }
  .site-header .navbar-header {
    padding-bottom: 16px; }
  .site-header.affix .navbar-header {
    padding-bottom: 2px; }
  .site-header .navbar ul.navbar-nav li a::after {
    display: none; }
  .site-header .navbar ul.navbar-nav li.active a,
  .site-header .navbar ul.navbar-nav li:hover a {
    background-color: #2b2b2b;
    color: #fff;
    transition: all 0.5s ease-in-out 0s; }
  header.site-header.navbar-fixed-top.affix {
    padding-bottom: 10px; }
  .navbar-collapse {
    background-color: #fff; }
  .about_me_feature_area .about_me_text h1 {
    font-size: 28px; }
  .about_me_feature_area .about_me_text h3 {
    font-size: 18px; }
  .about_me_feature_area .about_me_text p {
    font-size: 14px; }
  section {
    padding: 60px 0; }
  .skill_area .skill_bar_inner_box .skill_bars:nth-last-child(-n + 3) .bar {
    margin-bottom: 10px; } }

/*** For 640px or less resolution display devices ***/
@media only screen and (max-width: 641px) {
  .about_us_area .about_content_btn_area .btn {
    margin-right: 4px; } }

/*** For 569px or less resolution display devices ***/
@media only screen and (max-width: 569px) {
  .about_us_area .col-xs-12.col-sm-6.col-sm-offset-1,
  .about_us_area .col-xs-12.col-sm-5 {
    width: 100%; }
  .about_us_area .about_personal_info {
    padding-top: 40px; }
  .skill_area .skill_bar_inner_box .skill_bars {
    width: 48%; }
  .project_items .project_tile {
    width: calc(50% - 20px); }
  .contact_info_box .contact_info {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 100%; }
  .about_me_feature_area .about_me_text h1 {
    font-size: 26px; }
  .about_me_feature_area .about_me_text h3 {
    font-size: 18px; }
  .about_me_feature_area .about_me_text p {
    font-size: 14px; }
  .contact_form_box .name_email input {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%; }
  .contact_form_box .name_email {
    margin-bottom: 0; } }

/*** For 480px or less resolution display devices ***/
@media only screen and (max-width: 480px) {
  .about_me_feature_area > .container > .row > * {
    width: 100%; }
  .about_me_feature_area > .container > .row {
    flex-flow: row wrap; }
  .about_me_feature_area > .container > .row > .col-xs-12.col-sm-6 {
    order: 2;
    padding-bottom: 30px;
    padding-top: 10px; }
  .about_me_feature_area > .container > .row > .col-xs-12.col-sm-5.col-sm-offset-1 {
    order: 1; }
  .about_me_feature_area .about_me_text h1 {
    font-size: 30px; }
  .about_me_feature_area .about_me_text h3 {
    font-size: 20px; }
  .about_me_feature_area .about_me_text p {
    font-size: 14px; } }

/*** For 418px or less resolution display devices ***/
@media only screen and (max-width: 418px) {
  .skill_area .skill_bar_inner_box .skill_bars {
    width: 100%; }
  .project_items .project_tile {
    width: calc(100% - 20px); }
  .start_project_area h2 {
    font-size: 24px; } }
